{% extends "base.html" %}
{% block content %}

   

    <h2>{{ page_title }}</h2>
    <p>
        Hearing of greater riches in the Grey Mountains, Thorin decided to leave the Lonely Mountain with the greater
        part of his folk and the Arkenstone in TA 2210. The mountain was left abandoned for over three hundred years
        until his descendant Thrór reclaimed it. He was succeeded as king by his son Glóin. His grandfather was Náin I,
        who was the last ruler of Khazad-dûm before he was killed and the rest of his people driven out by a Balrog. He
        was also a sixth generation relative and the namesake of Thorin Oakenshield, who led the quest to reclaim the
        Lonely Mountain from the dragon Smaug, and afterwards died in the Battle of Five Armies.[1]
    </p>

    {% for member in company %}
    {% if loop.index % 2 != 0 %}
            <div class="row featurette">
                <div class="col-md-7">
                    <h3><a href="/about/{{member.url}}">{{ loop.index }}.{{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>
                <div class="col md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>
                    {% else %}
                    <div class="col md-5">
                        <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                    </div>
                    <div class="col-md-7">
                        <h3><a href="/about/{{member.url}}">{{ loop.index }}.{{ member.name }}</a></h3>
                        <p>{{ member.description }}</p>
                    </div>
    {% endif %}
            </div>
            
            {% if loop.index != loop.length %}
                <hr class="featurette-divider">
            {% endif %}
    
    {% endfor %}
  
{% endblock %}





